{%- capture LS_INPUT -%}{% layout none %}
<!DOCTYPE html>
{% comment ls-rpl %}<html>{% endcomment %}<html lang="{%- render "ls-language" -%}" dir="{%- render "ls-language-direction" -%}">{% comment /ls-rpl %}{% endcomment %}

<head>
{%- render "ls-head" -%}
	<!-- CSS -->

  {{ 'password.scss.css' | asset_url | stylesheet_tag }}
	<title>{{ 'coming_soon.general.title' | t }}</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

  {{ content_for_header }}

  {% include 'oldIE-js' %}

  <script>
    window.wetheme = {
      name: 'Flow',
    };
  </script>

</head>

<body>

  <div class="background-overlay">

    {{ content_for_layout }}

  </div>

{{ 'jquery-3.3.1.min.js' | asset_url | script_tag }}


<script type="text/javascript">
(function ($) {

	function onload() {
		document.getElementById('password').focus();
		$("#password-show").click(function() {
		  $("#site-header").slideToggle( "slow");
		});
		$(".password--close a").click(function() {
		  $("#site-header").slideToggle( "slow");
		});
		window.wetheme.$(function() {
		  if($('.storefront-password-form .errors').length) {
		    $("#site-header").slideToggle("slow");
		  }
		});
	}
	document.addEventListener('shopify:section:load', onload);
	window.addEventListener('load', onload);

})(window.wetheme.$);
</script>

</body>
</html>
{%- endcapture -%}{%- render "ls-output", input: LS_INPUT -%}